body {
  font-family: "roboto", sans-serif;
  background: #FFFFFF;}

.header {background: #FFFFFF;}
.hero {background: #2F303A;}
.team {background: #F5F4FA;}
.footer {background: #2F303A;}

.list {list-style: none;}
.link {text-decoration: none;}

:root {--title-color: #212121;} 
:root {--text-colore: #757575;}

/*---header---*/
.logo {font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    }
.logo-studio-header {color: #000000;}
.site-nav {font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    }  
.site-nav:hover {color: #2196F3;}
.site-nav:focus {color: #2196F3}
.contacts-header {font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-colore);
    }
.contacts-header:hover {color: #2196F3;}
.contacts-header:focus {color: #2196F3}

/*---hero---*/
.hero-title {font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button {font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
    cursor: pointer;
}
.button-color-main {color: #FFFFFF; background: #2196F3}
.button-color-main:hover {color: var(--title-color); background: #F5F4FA}
.button-color-main:focus{background: #2196F3}

/*---main---*/
.text-title {font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.text {font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-colore);
    }
.pre-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

/*---team---*/
.name {font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);}

.job-title {font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-colore);
    }

/*---footer---*/
.logo-studio-footer {color:  #FFFFFF;}
.address-footer {
    font-family: "roboto";
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address-footer:hover {color: #2196F3;}
.address-footer:focus {color: #2196F3;}
.contacts-footer {font-family: "roboto";
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-footer:hover {color: #2196F3;}
.contacts-footer:focus {color: #2196F3;}

/*---portfolio---*/
.button-color-portfolio { color: var(--title-color); background: #F5F4FA} 
.button-color-portfolio:hover {color: #FFFFFF; background: #2196F3} 
.button-color-portfolio:focus{color: var(--title-color); background: #F5F4FA}
.portfolio-title {font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.portfolio-pre-title {font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-colore);
}
