body {
  font-family: "roboto", sans-serif;
  background: #E5E5E5;}

.header {background: #FFFFFF;}
.hero {background: #2F303A;}
.team {background: #F5F4FA;}
.footer {background: #2F303A;}

.list {list-style: none;}
.link {text-decoration: none;}

/*:root {-- --} 

/*---header---*/
.logo {font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    }
.logo-studio-header {color: #000000;}
.site-nav {font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    }  
.site-nav:hover {color: #2196F3;}
.site-nav:focus {background: #2196F3;}
.contacts-header {font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    }
.contacts-header:hover {color: #2196F3;}
.contacts-header:focus{background: #2196F3;}

/*---hero---*/
.hero-title {font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.button {font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
    cursor: pointer;
    ;
}
.button-color-main {color: #FFFFFF; background: #2196F3}
.button-color-main:hover {color: #212121;} 
.button-color-main:focus{background:  #F5F4FA;}
.button-color-portfolio {color: #212121; background: #F5F4FA} 
.button-color-portfolio:hover {color: #FFFFFF; background:  #2196F3;} 
.button-color-portfolio:focus {color: #212121}
  
/*---main---*/
.text-title {font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.text {font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    }
.pre-title {font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/*---team---*/
.name {font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.job-title {font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    }

/*---footer---*/
.logo-studio-footer {color:  #FFFFFF;}
.address-footer {
    font-family: "roboto";
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address-footer:hover {color: #2196F3;}
.address-footer:focus {color: #2196F3;}
.contacts-footer {font-family: "roboto";
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-footer:hover {color: #2196F3;}
.contacts-footer:focus {color: #2196F3;}

/*---portfolio---*/
.portfolio-title {font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-pre-title {font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;
}